*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans', sans-serif;
    font-family: 'Mukta', sans-serif;
    font-family: 'Tiro Telugu', serif;
}
img{
    max-width: 100%;
}

.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.50),rgba(0,0,0,0.50)),url(img/donation14.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
.content{
    position: absolute;
    top: 30%;
    left: 10%;
    right: 10%;
    color: #fff;
    text-align: center;
}
.content h1{
    font-size: 90px;
    line-height: 1.2em;
    text-transform: capitalize;
    font-family: 700;
    word-spacing: 10px;
}
.content p{
    font-size: 20px;
}
.btn{
    margin: 20px 0;
    padding: 10px 20px;
    background-color: tomato;
    color: #fff;
    font-size: 20px;
    text-transform: capitalize;
    border-radius: 10px;
    border: none;
}
.btn:hover{
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid tomato;
    cursor: pointer;
    transform: translateY(-6px);
    transition: all 0.5s ease-in-out;
    color: rgb(255, 255, 255);
}

.donation-option{
    width: 100%;
    margin: auto;
    text-align: center;
}
.donation-option h1{
    padding-top: 80px ;
    font-size: 50px;
    text-transform: uppercase;
}
.donation-option p{
    font-size: 20px;
    color: gray
}
.all-box{
    width: 100%;
    margin: 40px 0;
}
.box1{
    width: 150px;
    height: 155px;
    text-align: center;
    line-height: 155px;
    background-color: rgba(199, 199, 199, 0.295);
    margin: 10px 20px;
    color: rgb(92, 92, 92);
    font-size: 25px;
    font-weight: bold;
    display: inline-block;
    border-radius: 5px;
}
#border-color{
    border-radius: 5px;
    border: 4px solid tomato;
}
.donation-option input{
    width: 50%;
    outline: none;
    border: none;
    border-bottom: 1px solid rgba(105, 105, 105, 0.493);
    font-size: 20px;
    color: rgba(34, 34, 34, 0.61);
    text-align: center;
}
.btn-scn{
    margin: 50px 0;
    padding: 10px 20px;
    background-color: tomato;
    color: #fff;
    font-size: 20px;
    text-transform: capitalize;
    border-radius: 10px;
    border: none;
}
.btn-scn:hover{
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid tomato;
    cursor: pointer;
    transform: translateY(-6px);
    transition: all 0.5s ease-in-out;
    color: #222
}

.our-don-plan h1{
    font-size: 50px;
    text-transform: capitalize;
}
.our-don-plan p{
    font-size: 20px;
    color: gray;
}

.our-don-plan{
    width: 100%;
    text-align: center;
}
.card{
    width: 100%;
    margin: auto;
}
.card1{
    width: 400px;
    height: auto;
    background-color: rgba(0, 119, 255, 0.137);
    margin: 15px;
    display: inline-block;
    text-align: left;
    padding: 80px 20px;
    box-sizing: border-box;
    border-radius: 5px;
}
#card2{
    background-color: rgba(255, 0, 234, 0.137);
}
#card3{
    background-color: rgba(255, 136, 0, 0.137);
}

.contact-us{
    width: 100%;
    height: 80vh;
    background-image: linear-gradient(rgba(0,0,0,0.50),rgba(0,0,0,0.50)),url(img/donation8.jpg);
    background-size: cover;
    background-position: center;
}

.contribute{
    display: flex;
    margin-bottom: 100px;
    margin-top: 100px;
    
}
.text-items{
    width: 50%;
    margin: auto;
    padding-left: 10%;
}
.text-items h1{
    font-size: 50px;
    text-transform: uppercase;
}
.text-items p{
    font-size: 20px;
    color: rgba(34, 34, 34, 0.432);
}
.con-img{
    width: 50%;
    padding-left: 10%;
}

.con-img img{
    width: 80%;
}

.email-submit{
    width: 100%;
    text-align: center;
    
}
.email-submit h1{
    font-size: 50px;
    color: #222;
    text-transform: uppercase;
}
.email-submit p{
    font-size: 20px;
    color: gray;
}
.email-box{
    width: 50%;
    margin: 50px auto;
    padding: 100px ;
    background-color: rgba(255, 99, 71, 0.548);
    position: relative;

}
.email-box input{
    width: 80%;
    height: 40px;
    outline: none;
    border: none;
    border-radius: 50px;

    
   
    
}
.email-btn{
    position: absolute;
    width: 200px;
    height: 40px;
    outline: none;
    border: none;
    border-radius: 50px;
    top: 100px;
    right: 50px;
    left: 455px;
    background-color: tomato;
    color: #fff;
    
}
.email-btn:hover{
    cursor: pointer;
}
footer{
    width: 100%;
    text-align: center;
    background-color: #222;
    
}
footer img{
    width: 20%;
    padding: 20px;
}
footer h5{
    width: 100%;
    border-top: 1px solid #fff;
    color: #fff;
    margin: auto;
    padding: 10px;
}